.current {
  display: flex;
  &__SVG-container {
    width: 150px;
    height: 150px;
  }
  &__content {
    flex-direction: column;
    align-items: top;
    & div {
      padding: 0 0 10px 0;
    }
  }
  &__solar-cycle {
    flex-direction: column;
  }
}

.forecast-hourly {
  width: 100%;
  height: 100%;  
  display: flex;
  &__marking {
    text-align: right;
    flex-direction: column;
    & div {
      padding: 0 0 10px 0;
      &:first-child {
        padding: 0 0 2px 0;
      }
    }
  }
  &__SVG-container {
    width: 100%;
    height: 40px;
  }
  &__content {
      width: 100vh;
    display: flex;
    overflow: scroll;
  }
  &__day-container {
    flex-direction: column;
    
  }
  &__day-line {
    display: flex;
    border-style: solid;
    border-width: 1px 2px 1px 1px;
  }
}

.forecastHourlyItem {
    flex: 1; 
  display: flex;
  margin: 3px;
  flex-direction: column;
  & div {
    padding: 0 0 10px 0;
  }
}

/* .marking{
    text-align: right;
    flex-direction: column;
    & div{
        padding:0 0 10px 0;
        &:first-child{
            padding:0 0 2px 0;
        }
    }
} */
