.current {
  display: flex;
  &__SVG-container {
    width: 150px;
    height: 150px;
  }
  &__content {
    margin-left: 10px;
    flex-direction: column;
    align-items: top;
    & div {
      padding: 0 0 10px 0;
    }
  }
  &__solar-cycle {
    flex-direction: column;
  }
}

.forecast-hourly {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1000px;
  max-height: 600px;
  &__marking {
    text-align: right;
    flex-direction: column;
    & div {
      padding: 0 0 12px 0;
      &:first-child {
        padding: 0 0 2px 0;
      }
    }
  }
  &__SVG-container {
    display: inline-block;
    height: 40px;
  }
  &__content {
    width: 100vh;
    display: flex;
    overflow: auto;
  }
  &__day-container {
    height: 100%;
    flex-direction: column;
  }
  &__day-line {
    display: flex;
    /* flex-wrap: wrap; */
    border-style: solid;
    border-width: 1px 2px 1px 1px;
  }
}

.forecastHourlyItem {
  flex: 1;
  display: flex;
  margin: 3px;
  flex-direction: column;
  & div {
    padding: 0 0 10px 0;
  }
}
