@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './NullStyle.scss';
@import './ComponentsStyles/NavBar.scss';
@import './ComponentsStyles/CurretForecast.scss';
@import './PageStyles/WeatherPageStyle.scss';

 


body{
    font-family: 'Roboto';
    padding: 0px 20px;
    background-color: #eceef2;
    

}







































// body{
//     background: url('./IMG/body_background.jpg');
//     font-family: 'Roboto';
//     padding: 20px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .container{
//     max-width: 1000px;
//     margin: 0px auto;


// }

