@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'NullStyle.scss';
@import 'ComponentStyle.scss';
@import 'PageStyle.scss';

body{
    background: url('./IMG/body_background.jpg');
    font-family: 'Roboto';
    padding: 20px;
}

