@import 'ComponentStyle.scss';
@import 'WPStyle.scss';



.btn{
    height: 35px;
    width: 100px;
    background-color: green;
}

.column{
    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
}
